/* ფიფქი არის ყველაფრის ტაგი box-sizing border box იმისთვის რომ margin და padding არ გადმოიღვაროს და ზომა იგივე დარჩეს */
*{
    box-sizing: border-box;
    margin: 0px;
    margin-top: 0px;
    padding: 0;

}
body{
    background-color: #228B22;
    background-image: url('327195411_578509187126405_8925150253976917425_n\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}
/* მონიშნული მაქვს header რომელიც არის სემანტიკური დივ ელემენტი იმისთვის რომ გავსტილო ის ადგილი სადაც ჩემი list hyperlinkები განთავსდება 100vw= viewwidth  დანარჩენი განსაკუთრებული არაფერი image ჩავსვი და ფერი */
header{
    width: 100vw;
    height: 100px ;
    background-color: #228B22;
    background-image: url('329130685_1489236274896966_4243417083033506014_nn.jpg');
}
/* ამას დიდად მნიშვნელობა არ აქვს იმიტომ რომ შეგვიძლია nav htmlიდან ამოვაგდოთ და არაფერი შეიცვლება უბრალოდ რადგან სემანტიკური თაგია და რადგან "navbar" ვაკეთებ იყოს უბრალოდ და არაფერში ხელი რომ არ შემიშალოს ვაძლევ headerის ზომას */
nav{
    height: 100%;
    width: 100%;
}
/* display:inline block გადააქცევს ჩემს ბლოკურ ელემენტებს ინლაინად რომ ერთმანეთის გვერდი გვერდ განთავსდნენ,
list-style-type:none ბურთებს აქრობს და Transition 1s გავწერე იმისთვის ფორმატი ტექსტთან ერთად ნელა გაიზარდოს (ეს ტექსტს არ ზრდის ან არც ეხება ეს არის იმ ტექსტის ფორმატი, მართკუთხედი რომელშიც მოთავსებულია) */
li{
    display: inline-block;
    padding: 2px 10px;
    background-color: #412e2e;
    list-style-type: none;
    margin: 30px;
    padding: 5px;
    padding-bottom: 10px;
    width: 110px;
    height: 25px;
    text-align: center;
    transition: 1s; 
    border-radius: 12px;
    
    

}
/* ტექსტის დეკორაცია არაფერზე რომ ლინკს მის ქვეშ ხაზი არ გაესვას და აი აქ transition უკვე ტექსტზე აგებს პასუხს */
a{
    text-decoration: none;
    transition: 1s;
    color: aliceblue;
}
/* a: hover სელექტორი არის სელექტორი რომელიც სტილავს ჰიპერლინკს როცა მასზე ჩვენ მაუსს გადავატარებთ
აქ რაც წერია მარტო მაშინ მოიყვანება მოქმედებაში როცა მოუსს მივიყვანთ ჰიპერლინკთან
text-shadow არის ტექსტის ჩრდილი :დ */
a:hover{
    font-size: 17px;
    color: goldenrod;
    letter-spacing: 0px;
}
/* ეს იმისთვის რომ ოთხივე li შუა ნაწილში მოექცეს */
ul{
    text-align: center;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    
}
/* აი ეს ის ფორმატია რომელშიც ტექსტია მოქცეული ანყ scale: 1.5; ნიშნავს რომ ამდენჯერ გაიზარდოს როცა 
მაუსს მასთან მივიტანთ */
li:hover{
    scale: 1.5;
    outline: 1px ridge greenyellow;
    transform: rotate(360deg);
    z-index: 3;
    
}
/*  ეს არის search barის გამსტილავი. 
display: inline რომ ზედმეტი space არ დაიკავოს  */
.form{
    margin: 0px 0px;
    padding: 0px;
display: inline-block;
color: rgb(11, 240, 68);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.flex{
    display: flex;
    z-index: 2;
    position: relative;
    
}
form{
    display: inline-block;
}
.search {
    margin: 0;
    display: inline-block;
    border: 1px ridge greenyellow;
}
/* ეს არის search ღილაკის გასტილვა */
.bassing{
    width: 20px;
    height: 17px;
    margin: 0;
    margin-top: 3px;
    background-color: #228b2200;
    outline: 1px ridge greenyellow;
    margin-left: -1px;
    
}
/* table.exe.aruda  */
table{
    color: beige;
    border-collapse: collapse;
    width: 500px;
    height: 400px;
    border: 1px ridge green;
    border-radius: 0%;
    
    
   

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
td:nth-child(4){
    padding: 0px;
    height: px;
    width: 65px;
}
td:nth-child(5){
    width: 80px;
}
@keyframes colorchange{
    0%{background-color: rgba(80, 190, 108, 1);}
    99%{background-color: #228B22;}
    100%{background-color: rgba(80, 190, 108, 1);}
}
td,th{
    animation: colorchange 8s infinite ease;

}
td,th{
    text-align: center;
    opacity: 0.8;
    background-color: rgb(80, 190, 108);
}
h1{
    color: antiquewhite;
    text-align: center;
    text-shadow: 1px 2px 3px gray;
    padding: 20px 0px;
}



td:hover, th:hover{
    font-weight: bold;
    color: white;
    background-color: rgba(80, 190, 108, 1);
    opacity: 1;
    
}
.tyesho:hover{
background-image: url('https://media.discordapp.net/attachments/1076577847839305829/1099405974613262432/image.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
.rati:hover{
background-image: url('https://media.discordapp.net/attachments/1076577847839305829/1091737764145414175/wwqe.PNG?width=850&height=480');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
.arud:hover{
    background-image: url('https://media.discordapp.net/attachments/1085615029891649627/1106988755493064894/image.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
.mate:hover{
    background-image: url('https://media.discordapp.net/attachments/852236526704001034/1107280145418563675/image.png');
background-size: cover;
background-repeat: no-repeat;
background-position: top, center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
.avsex:hover{
    background-image: url('https://media.discordapp.net/attachments/1085615029891649627/1106983627100782652/image.png');
background-size: cover;
background-repeat: no-repeat;
background-position:  center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
a:hover{
    color: goldenrod;
    text-shadow: 1px 1px 1px goldenrod;
    text-decoration: none;
}
.waltuh:hover{
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Walter_White_S5B.png/220px-Walter_White_S5B.png');
    background-size: cover;
background-repeat: no-repeat;
background-position:  center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
th{
    padding-left: 5px;
    padding-right: 5px;
}
.tricat:hover{
    background-image:
     url('https://coub-attachments.akamaized.net/coub_storage/coub/simple/cw_timeline_pic/4fbb7c5a84b/3f2f3921c29b553fa458f/ios_large_1473574040_image.jpg');
     background-size: cover;
background-repeat: no-repeat;
background-position: top, center;
color: rgba(255, 255, 255, 0);
transition: 1s;
}
h1{
    letter-spacing: 5px;
}
th{
    letter-spacing: 1px;
}
.nolcxra{
color: #228b2200;
height: 50px;
}



